# Upload the data

In [205]:
import pandas as pd
import scipy
import numpy as np
import time
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [206]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv('unclean_season_data.csv')
df['Date'] = pd.to_datetime(df['Date'])

In [207]:
df.head()

,Unnamed: 0,G,Date,,Opp,W/L,Tm,Opp.1,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,ORtg,DRtg,Pace,FTr,3PAr,TS%,TRB%,AST%,STL%,BLK%,.1,eFG%,TOV%,ORB%,FT/FGA,.2,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Team,Season
0,0,1.0,2009-10-28,NaN,IND,W,120.0,109.0,46.0,87.0,0.529,7.0,12.0,0.583,21.0,29.0,0.724,8.0,35.0,30.0,16.0,6.0,10.0,25.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,NaN,0.569,9.1,19.0,0.241,NaN,0.603,22.9,81.8,0.288,ATL,2010
1,1,2.0,2009-10-30,NaN,WAS,W,100.0,89.0,32.0,78.0,0.410,5.0,20.0,0.250,31.0,34.0,0.912,11.0,47.0,18.0,5.0,7.0,12.0,24.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,NaN,0.442,11.4,25.6,0.397,NaN,0.475,13.6,81.8,0.177,ATL,2010
2,2,3.0,2009-11-01,@,LAL,L,110.0,118.0,40.0,89.0,0.449,7.0,23.0,0.304,23.0,26.0,0.885,14.0,40.0,21.0,8.0,3.0,19.0,21.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,NaN,0.489,15.9,31.1,0.258,NaN,0.557,13.3,70.3,0.241,ATL,2010
3,3,4.0,2009-11-03,@,POR,W,97.0,91.0,37.0,80.0,0.463,5.0,15.0,0.333,18.0,22.0,0.818,11.0,46.0,21.0,4.0,7.0,11.0,15.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,NaN,0.494,10.9,29.7,0.225,NaN,0.459,8.0,77.8,0.153,ATL,2010
4,4,5.0,2009-11-04,@,SAC,W,113.0,105.0,46.0,85.0,0.541,6.0,16.0,0.375,15.0,19.0,0.789,12.0,47.0,17.0,2.0,10.0,16.0,20.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,NaN,0.576,14.6,33.3,0.176,NaN,0.443,6.1,64.8,0.208,ATL,2010

In [208]:
df.describe()

,Unnamed: 0,G,Tm,Opp.1,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,ORtg,DRtg,Pace,FTr,3PAr,TS%,TRB%,AST%,STL%,BLK%,.1,eFG%,TOV%,ORB%,FT/FGA,.2,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Season
count,28756.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,0.0,26236.000000,26236.000000,26236.000000,26236.000000,0.0,26236.000000,26236.000000,26236.000000,26236.000000,28756.000000
mean,43.291035,40.439129,103.010901,103.010901,38.424036,84.265970,0.457039,8.563920,24.032055,0.353893,17.598910,23.132185,0.761170,10.620521,43.109315,22.458187,7.634586,4.889579,13.730370,20.334731,108.257981,108.257981,94.464598,0.278593,0.284021,0.546286,50.001041,58.346631,8.010295,8.132974,NaN,0.507764,12.691725,24.468315,0.211993,NaN,0.507764,12.691725,75.532844,0.211993,2014.986577
std,25.500598,23.243709,12.904113,12.904113,5.206370,7.623452,0.055538,3.885192,8.343324,0.104486,6.063542,7.431977,0.102998,3.862364,6.589688,5.145770,2.909955,2.555525,3.840565,4.328772,11.446906,11.446906,5.787356,0.098968,0.091329,0.061425,5.312108,10.231338,2.974276,4.131389,NaN,0.065864,3.436754,7.632188,0.079875,NaN,0.065864,3.436754,7.632326,0.079875,3.132038
min,0.000000,1.000000,56.000000,56.000000,16.000000,59.000000,0.246000,0.000000,3.000000,0.000000,1.000000,1.000000,0.143000,0.000000,17.000000,4.000000,0.000000,0.000000,2.000000,5.000000,62.400000,62.400000,76.100000,0.011000,0.034000,0.319000,27.900000,16.700000,0.000000,0.000000,NaN,0.267000,1.800000,0.000000,0.010000,NaN,0.267000,1.800000,44.400000,0.010000,2010.000000
25%,21.000000,20.000000,94.000000,94.000000,35.000000,79.000000,0.419000,6.000000,18.000000,0.286000,13.000000,18.000000,0.696000,8.000000,39.000000,19.000000,6.000000,3.000000,11.000000,17.000000,100.500000,100.500000,90.400000,0.209000,0.218000,0.504000,46.400000,51.400000,5.900000,5.200000,NaN,0.463000,10.300000,19.000000,0.155000,NaN,0.463000,10.300000,70.500000,0.155000,2012.000000
50%,43.000000,40.000000,103.000000,103.000000,38.000000,84.000000,0.456000,8.000000,23.000000,0.353000,17.000000,23.000000,0.769000,10.000000,43.000000,22.000000,7.000000,5.000000,14.000000,20.000000,108.300000,108.300000,94.300000,0.269000,0.278000,0.545000,50.000000,58.500000,7.800000,7.700000,NaN,0.506000,12.600000,24.300000,0.205000,NaN,0.506000,12.600000,75.700000,0.205000,2015.000000
75%,65.000000,60.000000,112.000000,112.000000,42.000000,89.000000,0.494000,11.000000,29.000000,0.421000,21.000000,28.000000,0.833000,13.000000,47.000000,26.000000,9.000000,6.000000,16.000000,23.000000,115.900000,115.900000,98.300000,0.338000,0.345000,0.587000,53.600000,65.500000,9.900000,10.700000,NaN,0.551000,14.900000,29.500000,0.260000,NaN,0.551000,14.900000,81.000000,0.260000,2018.000000
max,89.000000,82.000000,168.000000,168.000000,62.000000,129.000000,0.684000,27.000000,70.000000,0.889000,52.000000,64.000000,1.000000,38.000000,81.000000,47.000000,22.000000,20.000000,29.000000,42.000000,155.600000,155.600000,117.200000,0.881000,0.680000,0.788000,72.100000,96.600000,22.200000,38.500000,NaN,0.766000,27.800000,55.600000,0.672000,NaN,0.766000,27.800000,100.000000,0.672000,2020.000000

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28756 entries, 0 to 28755
Data columns (total 46 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  28756 non-null  int64
 1   G           26236 non-null  float64
 2   Date        26236 non-null  datetime64[ns]
 3               13118 non-null  object
 4   Opp         26236 non-null  object
 5   W/L         26236 non-null  object
 6   Tm          26236 non-null  float64
 7   Opp.1       26236 non-null  float64
 8   FG          26236 non-null  float64
 9   FGA         26236 non-null  float64
 10  FG%         26236 non-null  float64
 11  3P          26236 non-null  float64
 12  3PA         26236 non-null  float64
 13  3P%         26236 non-null  float64
 14  FT          26236 non-null  float64
 15  FTA         26236 non-null  float64
 16  FT%         26236 non-null  float64
 17  ORB         26236 non-null  float64
 18  TRB         26236 non-null  float64
 19  AST         26236 non-null  float64
 20  STL         26236 non-null  float64
 21  BLK         26236 non-null  float64
 22  TOV         26236 non-null  float64
 23  PF          26236 non-null  float64
 24  ORtg        26236 non-null  float64
 25  DRtg        26236 non-null  float64
 26  Pace        26236 non-null  float64
 27  FTr         26236 non-null  float64
 28  3PAr        26236 non-null  float64
 29  TS%         26236 non-null  float64
 30  TRB%        26236 non-null  float64
 31  AST%        26236 non-null  float64
 32  STL%        26236 non-null  float64
 33  BLK%        26236 non-null  float64
 34   .1         0 non-null      float64
 35  eFG%        26236 non-null  float64
 36  TOV%        26236 non-null  float64
 37  ORB%        26236 non-null  float64
 38  FT/FGA      26236 non-null  float64
 39   .2         0 non-null      float64
 40  eFG%.1      26236 non-null  float64
 41  TOV%.1      26236 non-null  float64
 42  DRB%        26236 non-null  float64
 43  FT/FGA.1    26236 non-null  float64
 44  Team        28756 non-null  object
 45  Season      28756 non-null  int64
dtypes: datetime64[ns](1), float64(39), int64(2), object(4)
memory usage: 10.1+ MB

In [210]:
clean_df = df

In [211]:
clean_df.head()

,Unnamed: 0,G,Date,,Opp,W/L,Tm,Opp.1,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,ORtg,DRtg,Pace,FTr,3PAr,TS%,TRB%,AST%,STL%,BLK%,.1,eFG%,TOV%,ORB%,FT/FGA,.2,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Team,Season
0,0,1.0,2009-10-28,NaN,IND,W,120.0,109.0,46.0,87.0,0.529,7.0,12.0,0.583,21.0,29.0,0.724,8.0,35.0,30.0,16.0,6.0,10.0,25.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,NaN,0.569,9.1,19.0,0.241,NaN,0.603,22.9,81.8,0.288,ATL,2010
1,1,2.0,2009-10-30,NaN,WAS,W,100.0,89.0,32.0,78.0,0.410,5.0,20.0,0.250,31.0,34.0,0.912,11.0,47.0,18.0,5.0,7.0,12.0,24.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,NaN,0.442,11.4,25.6,0.397,NaN,0.475,13.6,81.8,0.177,ATL,2010
2,2,3.0,2009-11-01,@,LAL,L,110.0,118.0,40.0,89.0,0.449,7.0,23.0,0.304,23.0,26.0,0.885,14.0,40.0,21.0,8.0,3.0,19.0,21.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,NaN,0.489,15.9,31.1,0.258,NaN,0.557,13.3,70.3,0.241,ATL,2010
3,3,4.0,2009-11-03,@,POR,W,97.0,91.0,37.0,80.0,0.463,5.0,15.0,0.333,18.0,22.0,0.818,11.0,46.0,21.0,4.0,7.0,11.0,15.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,NaN,0.494,10.9,29.7,0.225,NaN,0.459,8.0,77.8,0.153,ATL,2010
4,4,5.0,2009-11-04,@,SAC,W,113.0,105.0,46.0,85.0,0.541,6.0,16.0,0.375,15.0,19.0,0.789,12.0,47.0,17.0,2.0,10.0,16.0,20.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,NaN,0.576,14.6,33.3,0.176,NaN,0.443,6.1,64.8,0.208,ATL,2010

# Clean up the data

In [212]:
#Dropping basic stats
clean_df.drop(df.columns[0:2], axis=1, inplace=True)

In [213]:
# Drop all basic stats
clean_df.drop(df.columns[6:22], axis=1, inplace=True)

In [214]:
# Drop the random columns
clean_df.drop(clean_df.columns[[16, 21]], axis=1, inplace=True)

In [215]:
# Rename the columns
clean_df.rename(columns={'\xa0':'Home', 'Opp.1':'Opp_pts', 'eFG%.1':'Opp eFG%', \
                         'TOV%.1':'Opp TOV%','FT/FGA.1':'Opp FT/FGA', 'W/L':'Win'}, inplace=True)

In [216]:
# Fill the NaN values in the Home column
clean_df['Home'] = clean_df['Home'].fillna(1)

In [217]:
# Drop those 0 values
clean_df.dropna(axis=0, inplace=True)

In [218]:
# Make Home column a 1 and 0 for values
clean_df.replace(to_replace='@', value=0, inplace=True)

In [219]:
# Make the W/L column 1 and 0, and an integer
clean_df.replace(to_replace={'Win':{'W':1, 'L':0}}, inplace=True)

In [220]:
display(clean_df.head())
clean_df.info()

,Date,Home,Opp,Win,Tm,Opp_pts,ORtg,DRtg,Pace,FTr,3PAr,TS%,TRB%,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA,Opp eFG%,Opp TOV%,DRB%,Opp FT/FGA,Team,Season
0,2009-10-28,1,IND,1,120.0,109.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,0.569,9.1,19.0,0.241,0.603,22.9,81.8,0.288,ATL,2010
1,2009-10-30,1,WAS,1,100.0,89.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,0.442,11.4,25.6,0.397,0.475,13.6,81.8,0.177,ATL,2010
2,2009-11-01,0,LAL,0,110.0,118.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,0.489,15.9,31.1,0.258,0.557,13.3,70.3,0.241,ATL,2010
3,2009-11-03,0,POR,1,97.0,91.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,0.494,10.9,29.7,0.225,0.459,8.0,77.8,0.153,ATL,2010
4,2009-11-04,0,SAC,1,113.0,105.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,0.576,14.6,33.3,0.176,0.443,6.1,64.8,0.208,ATL,2010

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26236 entries, 0 to 28755
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        26236 non-null  datetime64[ns]
 1   Home        26236 non-null  int64
 2   Opp         26236 non-null  object
 3   Win         26236 non-null  int64
 4   Tm          26236 non-null  float64
 5   Opp_pts     26236 non-null  float64
 6   ORtg        26236 non-null  float64
 7   DRtg        26236 non-null  float64
 8   Pace        26236 non-null  float64
 9   FTr         26236 non-null  float64
 10  3PAr        26236 non-null  float64
 11  TS%         26236 non-null  float64
 12  TRB%        26236 non-null  float64
 13  AST%        26236 non-null  float64
 14  STL%        26236 non-null  float64
 15  BLK%        26236 non-null  float64
 16  eFG%        26236 non-null  float64
 17  TOV%        26236 non-null  float64
 18  ORB%        26236 non-null  float64
 19  FT/FGA      26236 non-null  float64
 20  Opp eFG%    26236 non-null  float64
 21  Opp TOV%    26236 non-null  float64
 22  DRB%        26236 non-null  float64
 23  Opp FT/FGA  26236 non-null  float64
 24  Team        26236 non-null  object
 25  Season      26236 non-null  int64
dtypes: datetime64[ns](1), float64(20), int64(3), object(2)
memory usage: 5.4+ MB

In [221]:
clean_df['H_team_pts'] = np.where(clean_df['Home']==1, clean_df['Tm'], clean_df['Opp_pts'])

In [223]:
clean_df['A_team_pts'] = np.where(clean_df['Home']==0, clean_df['Tm'], clean_df['Opp_pts'])

In [224]:
clean_df

,Date,Home,Opp,Win,Tm,Opp_pts,ORtg,DRtg,Pace,FTr,3PAr,TS%,TRB%,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA,Opp eFG%,Opp TOV%,DRB%,Opp FT/FGA,Team,Season,H_team_pts,A_team_pts
0,2009-10-28,1,IND,1,120.0,109.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,0.569,9.1,19.0,0.241,0.603,22.9,81.8,0.288,ATL,2010,120.0,109.0
1,2009-10-30,1,WAS,1,100.0,89.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,0.442,11.4,25.6,0.397,0.475,13.6,81.8,0.177,ATL,2010,100.0,89.0
2,2009-11-01,0,LAL,0,110.0,118.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,0.489,15.9,31.1,0.258,0.557,13.3,70.3,0.241,ATL,2010,118.0,110.0
3,2009-11-03,0,POR,1,97.0,91.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,0.494,10.9,29.7,0.225,0.459,8.0,77.8,0.153,ATL,2010,91.0,97.0
4,2009-11-04,0,SAC,1,113.0,105.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,0.576,14.6,33.3,0.176,0.443,6.1,64.8,0.208,ATL,2010,105.0,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28751,2020-08-05,1,PHI,0,98.0,107.0,97.9,106.9,100.1,0.282,0.247,0.513,53.9,47.2,8.0,9.4,0.465,13.6,20.5,0.224,0.530,12.9,86.7,0.244,WAS,2020,98.0,107.0
28752,2020-08-07,0,NOP,0,107.0,118.0,105.5,116.4,101.4,0.256,0.300,0.534,47.1,57.9,8.9,7.5,0.478,11.5,22.7,0.233,0.545,15.3,73.2,0.250,WAS,2020,118.0,107.0
28753,2020-08-09,0,OKC,0,103.0,121.0,105.1,123.5,98.0,0.239,0.391,0.506,50.6,60.5,6.1,6.7,0.462,12.9,27.1,0.196,0.619,11.4,79.5,0.202,WAS,2020,121.0,103.0
28754,2020-08-11,1,MIL,0,113.0,126.0,108.5,120.9,104.2,0.316,0.368,0.522,45.4,56.4,1.9,6.1,0.474,9.2,20.0,0.242,0.609,12.4,78.6,0.230,WAS,2020,113.0,126.0
28755,2020-08-13,0,BOS,1,96.0,90.0,98.9,92.7,97.1,0.273,0.295,0.487,52.3,64.7,11.3,11.3,0.443,15.4,32.1,0.205,0.443,16.0,74.5,0.136,WAS,2020,90.0,96.0

# Calculate ELO