In [1]:
import pandas as pd
import scipy
import numpy as np
import time
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv('unclean_season_data.csv')
df['Date'] = pd.to_datetime(df['Date'])

In [3]:
advanced_df = df.merge(df, left_on=['Opp', 'Season', 'Date'], right_on=['Team', 'Season', 'Date'], how='left',\
                   suffixes=('_A', '_B'))

In [4]:
advanced_df.head()

,Unnamed: 0_A,G_A,Date,_A,Opp_A,W/L_A,Tm_A,Opp.1_A,FG_A,FGA_A,FG%_A,3P_A,3PA_A,3P%_A,FT_A,FTA_A,FT%_A,ORB_A,TRB_A,AST_A,STL_A,BLK_A,TOV_A,PF_A,ORtg_A,DRtg_A,Pace_A,FTr_A,3PAr_A,TS%_A,TRB%_A,AST%_A,STL%_A,BLK%_A,.1_A,eFG%_A,TOV%_A,ORB%_A,FT/FGA_A,.2_A,eFG%.1_A,TOV%.1_A,DRB%_A,FT/FGA.1_A,Team_A,Season,Unnamed: 0_B,G_B,_B,Opp_B,W/L_B,Tm_B,Opp.1_B,FG_B,FGA_B,FG%_B,3P_B,3PA_B,3P%_B,FT_B,FTA_B,FT%_B,ORB_B,TRB_B,AST_B,STL_B,BLK_B,TOV_B,PF_B,ORtg_B,DRtg_B,Pace_B,FTr_B,3PAr_B,TS%_B,TRB%_B,AST%_B,STL%_B,BLK%_B,.1_B,eFG%_B,TOV%_B,ORB%_B,FT/FGA_B,.2_B,eFG%.1_B,TOV%.1_B,DRB%_B,FT/FGA.1_B,Team_B
0,0,1.0,2009-10-28,NaN,IND,W,120.0,109.0,46.0,87.0,0.529,7.0,12.0,0.583,21.0,29.0,0.724,8.0,35.0,30.0,16.0,6.0,10.0,25.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,NaN,0.569,9.1,19.0,0.241,NaN,0.603,22.9,81.8,0.288,ATL,2010,0.0,1.0,@,ATL,L,109.0,120.0,39.0,73.0,0.534,10.0,18.0,0.556,21.0,25.0,0.840,6.0,40.0,23.0,1.0,4.0,25.0,26.0,108.1,119.0,100.8,0.342,0.247,0.649,53.3,59.0,1.0,5.3,NaN,0.603,22.9,18.2,0.288,NaN,0.569,9.1,81.0,0.241,IND
1,1,2.0,2009-10-30,NaN,WAS,W,100.0,89.0,32.0,78.0,0.410,5.0,20.0,0.250,31.0,34.0,0.912,11.0,47.0,18.0,5.0,7.0,12.0,24.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,NaN,0.442,11.4,25.6,0.397,NaN,0.475,13.6,81.8,0.177,ATL,2010,1.0,2.0,@,ATL,L,89.0,100.0,35.0,79.0,0.443,5.0,13.0,0.385,14.0,22.0,0.636,8.0,40.0,19.0,5.0,5.0,14.0,23.0,96.6,108.5,92.1,0.278,0.165,0.502,46.0,54.3,5.4,8.6,NaN,0.475,13.6,18.2,0.177,NaN,0.442,11.4,74.4,0.397,WAS
2,2,3.0,2009-11-01,@,LAL,L,110.0,118.0,40.0,89.0,0.449,7.0,23.0,0.304,23.0,26.0,0.885,14.0,40.0,21.0,8.0,3.0,19.0,21.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,NaN,0.489,15.9,31.1,0.258,NaN,0.557,13.3,70.3,0.241,ATL,2010,2.0,3.0,NaN,ATL,W,118.0,110.0,46.0,87.0,0.529,5.0,15.0,0.333,21.0,25.0,0.840,11.0,42.0,26.0,14.0,6.0,15.0,20.0,117.4,109.4,100.5,0.287,0.172,0.602,51.2,56.5,13.9,9.1,NaN,0.557,13.3,29.7,0.241,NaN,0.489,15.9,68.9,0.258,LAL
3,3,4.0,2009-11-03,@,POR,W,97.0,91.0,37.0,80.0,0.463,5.0,15.0,0.333,18.0,22.0,0.818,11.0,46.0,21.0,4.0,7.0,11.0,15.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,NaN,0.494,10.9,29.7,0.225,NaN,0.459,8.0,77.8,0.153,ATL,2010,4.0,5.0,NaN,ATL,L,91.0,97.0,36.0,85.0,0.424,6.0,21.0,0.286,13.0,16.0,0.813,10.0,36.0,22.0,7.0,4.0,8.0,20.0,104.7,111.6,86.9,0.188,0.247,0.494,43.9,61.1,8.1,6.2,NaN,0.459,8.0,22.2,0.153,NaN,0.494,10.9,70.3,0.225,POR
4,4,5.0,2009-11-04,@,SAC,W,113.0,105.0,46.0,85.0,0.541,6.0,16.0,0.375,15.0,19.0,0.789,12.0,47.0,17.0,2.0,10.0,16.0,20.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,NaN,0.576,14.6,33.3,0.176,NaN,0.443,6.1,64.8,0.208,ATL,2010,4.0,5.0,NaN,ATL,L,105.0,113.0,40.0,96.0,0.417,5.0,15.0,0.333,20.0,27.0,0.741,19.0,43.0,18.0,11.0,2.0,7.0,19.0,112.1,120.6,93.7,0.281,0.156,0.487,47.8,45.0,11.7,2.9,NaN,0.443,6.1,35.2,0.208,NaN,0.576,14.6,66.7,0.176,SAC

In [5]:
advanced_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28756 entries, 0 to 28755
Data columns (total 90 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_A  28756 non-null  int64
 1   G_A           26236 non-null  float64
 2   Date          26236 non-null  datetime64[ns]
 3    _A           13118 non-null  object
 4   Opp_A         26236 non-null  object
 5   W/L_A         26236 non-null  object
 6   Tm_A          26236 non-null  float64
 7   Opp.1_A       26236 non-null  float64
 8   FG_A          26236 non-null  float64
 9   FGA_A         26236 non-null  float64
 10  FG%_A         26236 non-null  float64
 11  3P_A          26236 non-null  float64
 12  3PA_A         26236 non-null  float64
 13  3P%_A         26236 non-null  float64
 14  FT_A          26236 non-null  float64
 15  FTA_A         26236 non-null  float64
 16  FT%_A         26236 non-null  float64
 17  ORB_A         26236 non-null  float64
 18  TRB_A         26236 non-null  float64
 19  AST_A         26236 non-null  float64
 20  STL_A         26236 non-null  float64
 21  BLK_A         26236 non-null  float64
 22  TOV_A         26236 non-null  float64
 23  PF_A          26236 non-null  float64
 24  ORtg_A        26236 non-null  float64
 25  DRtg_A        26236 non-null  float64
 26  Pace_A        26236 non-null  float64
 27  FTr_A         26236 non-null  float64
 28  3PAr_A        26236 non-null  float64
 29  TS%_A         26236 non-null  float64
 30  TRB%_A        26236 non-null  float64
 31  AST%_A        26236 non-null  float64
 32  STL%_A        26236 non-null  float64
 33  BLK%_A        26236 non-null  float64
 34   .1_A         0 non-null      float64
 35  eFG%_A        26236 non-null  float64
 36  TOV%_A        26236 non-null  float64
 37  ORB%_A        26236 non-null  float64
 38  FT/FGA_A      26236 non-null  float64
 39   .2_A         0 non-null      float64
 40  eFG%.1_A      26236 non-null  float64
 41  TOV%.1_A      26236 non-null  float64
 42  DRB%_A        26236 non-null  float64
 43  FT/FGA.1_A    26236 non-null  float64
 44  Team_A        28756 non-null  object
 45  Season        28756 non-null  int64
 46  Unnamed: 0_B  26236 non-null  float64
 47  G_B           26236 non-null  float64
 48   _B           13118 non-null  object
 49  Opp_B         26236 non-null  object
 50  W/L_B         26236 non-null  object
 51  Tm_B          26236 non-null  float64
 52  Opp.1_B       26236 non-null  float64
 53  FG_B          26236 non-null  float64
 54  FGA_B         26236 non-null  float64
 55  FG%_B         26236 non-null  float64
 56  3P_B          26236 non-null  float64
 57  3PA_B         26236 non-null  float64
 58  3P%_B         26236 non-null  float64
 59  FT_B          26236 non-null  float64
 60  FTA_B         26236 non-null  float64
 61  FT%_B         26236 non-null  float64
 62  ORB_B         26236 non-null  float64
 63  TRB_B         26236 non-null  float64
 64  AST_B         26236 non-null  float64
 65  STL_B         26236 non-null  float64
 66  BLK_B         26236 non-null  float64
 67  TOV_B         26236 non-null  float64
 68  PF_B          26236 non-null  float64
 69  ORtg_B        26236 non-null  float64
 70  DRtg_B        26236 non-null  float64
 71  Pace_B        26236 non-null  float64
 72  FTr_B         26236 non-null  float64
 73  3PAr_B        26236 non-null  float64
 74  TS%_B         26236 non-null  float64
 75  TRB%_B        26236 non-null  float64
 76  AST%_B        26236 non-null  float64
 77  STL%_B        26236 non-null  float64
 78  BLK%_B        26236 non-null  float64
 79   .1_B         0 non-null      float64
 80  eFG%_B        26236 non-null  float64
 81  TOV%_B        26236 non-null  float64
 82  ORB%_B        26236 non-null  float64
 83  FT/FGA_B      26236 non-null  float64
 84   .2_B         0 non-null      float64
 85  eFG%.1_B      26236 non-null  float64
 86  TOV%.1_B      26236 non-null  float64
 87  DRB%_B        26236 non-null  float64
 88  FT/FGA.1_B    26236 non-null  float64
 89  Team_B        26236 non-null  object
dtypes: datetime64[ns](1), float64(79), int64(2), object(8)
memory usage: 20.0+ MB

In [6]:
advanced_df.describe()

,Unnamed: 0_A,G_A,Tm_A,Opp.1_A,FG_A,FGA_A,FG%_A,3P_A,3PA_A,3P%_A,FT_A,FTA_A,FT%_A,ORB_A,TRB_A,AST_A,STL_A,BLK_A,TOV_A,PF_A,ORtg_A,DRtg_A,Pace_A,FTr_A,3PAr_A,TS%_A,TRB%_A,AST%_A,STL%_A,BLK%_A,.1_A,eFG%_A,TOV%_A,ORB%_A,FT/FGA_A,.2_A,eFG%.1_A,TOV%.1_A,DRB%_A,FT/FGA.1_A,Season,Unnamed: 0_B,G_B,Tm_B,Opp.1_B,FG_B,FGA_B,FG%_B,3P_B,3PA_B,3P%_B,FT_B,FTA_B,FT%_B,ORB_B,TRB_B,AST_B,STL_B,BLK_B,TOV_B,PF_B,ORtg_B,DRtg_B,Pace_B,FTr_B,3PAr_B,TS%_B,TRB%_B,AST%_B,STL%_B,BLK%_B,.1_B,eFG%_B,TOV%_B,ORB%_B,FT/FGA_B,.2_B,eFG%.1_B,TOV%.1_B,DRB%_B,FT/FGA.1_B
count,28756.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,0.0,26236.000000,26236.000000,26236.000000,26236.000000,0.0,26236.000000,26236.000000,26236.000000,26236.000000,28756.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,26236.000000,0.0,26236.000000,26236.000000,26236.000000,26236.000000,0.0,26236.000000,26236.000000,26236.000000,26236.000000
mean,43.291035,40.439129,103.010901,103.010901,38.424036,84.265970,0.457039,8.563920,24.032055,0.353893,17.598910,23.132185,0.761170,10.620521,43.109315,22.458187,7.634586,4.889579,13.730370,20.334731,108.257981,108.257981,94.464598,0.278593,0.284021,0.546286,50.001041,58.346631,8.010295,8.132974,NaN,0.507764,12.691725,24.468315,0.211993,NaN,0.507764,12.691725,75.532844,0.211993,2014.986577,42.461389,40.439129,103.010901,103.010901,38.424036,84.265970,0.457039,8.563920,24.032055,0.353893,17.598910,23.132185,0.761170,10.620521,43.109315,22.458187,7.634586,4.889579,13.730370,20.334731,108.257981,108.257981,94.464598,0.278593,0.284021,0.546286,50.001041,58.346631,8.010295,8.132974,NaN,0.507764,12.691725,24.468315,0.211993,NaN,0.507764,12.691725,75.532844,0.211993
std,25.500598,23.243709,12.904113,12.904113,5.206370,7.623452,0.055538,3.885192,8.343324,0.104486,6.063542,7.431977,0.102998,3.862364,6.589688,5.145770,2.909955,2.555525,3.840565,4.328772,11.446906,11.446906,5.787356,0.098968,0.091329,0.061425,5.312108,10.231338,2.974276,4.131389,NaN,0.065864,3.436754,7.632188,0.079875,NaN,0.065864,3.436754,7.632326,0.079875,3.132038,25.479447,23.243709,12.904113,12.904113,5.206370,7.623452,0.055538,3.885192,8.343324,0.104486,6.063542,7.431977,0.102998,3.862364,6.589688,5.145770,2.909955,2.555525,3.840565,4.328772,11.446906,11.446906,5.787356,0.098968,0.091329,0.061425,5.312108,10.231338,2.974276,4.131389,NaN,0.065864,3.436754,7.632188,0.079875,NaN,0.065864,3.436754,7.632326,0.079875
min,0.000000,1.000000,56.000000,56.000000,16.000000,59.000000,0.246000,0.000000,3.000000,0.000000,1.000000,1.000000,0.143000,0.000000,17.000000,4.000000,0.000000,0.000000,2.000000,5.000000,62.400000,62.400000,76.100000,0.011000,0.034000,0.319000,27.900000,16.700000,0.000000,0.000000,NaN,0.267000,1.800000,0.000000,0.010000,NaN,0.267000,1.800000,44.400000,0.010000,2010.000000,0.000000,1.000000,56.000000,56.000000,16.000000,59.000000,0.246000,0.000000,3.000000,0.000000,1.000000,1.000000,0.143000,0.000000,17.000000,4.000000,0.000000,0.000000,2.000000,5.000000,62.400000,62.400000,76.100000,0.011000,0.034000,0.319000,27.900000,16.700000,0.000000,0.000000,NaN,0.267000,1.800000,0.000000,0.010000,NaN,0.267000,1.800000,44.400000,0.010000
25%,21.000000,20.000000,94.000000,94.000000,35.000000,79.000000,0.419000,6.000000,18.000000,0.286000,13.000000,18.000000,0.696000,8.000000,39.000000,19.000000,6.000000,3.000000,11.000000,17.000000,100.500000,100.500000,90.400000,0.209000,0.218000,0.504000,46.400000,51.400000,5.900000,5.200000,NaN,0.463000,10.300000,19.000000,0.155000,NaN,0.463000,10.300000,70.500000,0.155000,2012.000000,19.000000,20.000000,94.000000,94.000000,35.000000,79.000000,0.419000,6.000000,18.000000,0.286000,13.000000,18.000000,0.696000,8.000000,39.000000,19.000000,6.000000,3.000000,11.000000,17.000000,100.500000,100.500000,90.400000,0.209000,0.218000,0.504000,46.400000,51.400000,5.900000,5.200000,NaN,0.463000,10.300000,19.000000,0.155000,NaN,0.463000,10.300000,70.500000,0.155000
50%,43.000000,40.000000,103.000000,103.000000,38.000000,84.000000,0.456000,8.000000,23.000000,0.353000,17.000000,23.000000,0.769000,10.000000,43.000000,22.000000,7.000000,5.000000,14.000000,20.000000,108.300000,108.300000,94.300000,0.269000,0.278000,0.545000,50.000000,58.500000,7.800000,7.700000,NaN,0.506000,12.600000,24.300000,0.205000,NaN,0.506000,12.600000,75.700000,0.205000,2015.000000,41.000000,40.000000,103.000000,103.000000,38.000000,84.000000,0.456000,8.000000,23.000000,0.353000,17.000000,23.000000,0.769000,10.000000,43.000000,22.000000,7.000000,5.000000,14.000000,20.000000,108.300000,108.300000,94.300000,0.269000,0.278000,0.545000,50.000000,58.500000,7.800000,7.700000,NaN,0.506000,12.600000,24.300000,0.205000,NaN,0.506000,12.600000,75.700000,0.205000
75%,65.000000,60.000000,112.000000,112.000000,42.000000,89.000000,0.494000,11.000000,29.000000,0.421000,21.000000,28.000000,0.833000,13.000000,47.000000,26.000000,9.000000,6.000000,16.000000,23.000000,115.900000,115.900000,98.300000,0.338000,0.345000,0.587000,53.600000,65.500000,9.900000,10.700000,NaN,0.551000,14.900000,29.500000,0.260000,NaN,0.551000,14.900000,81.000000,0.260000,2018.000000,63.000000,60.000000,112.000000,112.000000,42.000000,89.000000,0.494000,11.000000,29.000000,0.421000,21.000000,28.000000,0.833000,13.000000,47.000000,26.000000,9.000000,6.000000,16.000000,23.000000,115.900000,115.900000,98.300000,0.338000,0.345000,0.587000,53.600000,65.500000,9.900000,10.700000,NaN,0.551000,14.900000,29.500000,0.260000,NaN,0.551000,14.900000,81.000000,0.260000
max,89.000000,82.000000,168.000000,168.000000,62.000000,129.000000,0.684000,27.000000,70.000000,0.889000,52.000000,64.000000,1.000000,38.000000,81.000000,47.000000,22.000000,20.000000,29.000000,42.000000,155.600000,155.600000,117.200000,0.881000,0.680000,0.788000,72.100000,96.600000,22.200000,38.500000,NaN,0.766000,27.800000,55.600000,0.672000,NaN,0.766000,27.800000,100.000000,0.672000,2020.000000,89.000000,82.000000,168.000000,168.000000,62.000000,129.000000,0.684000,27.000000,70.000000,0.889000,52.000000,64.000000,1.000000,38.000000,81.000000,47.000000,22.000000,20.000000,29.000000,42.000000,155.600000,155.600000,117.200000,0.881000,0.680000,0.788000,72.100000,96.600000,22.200000,38.500000,NaN,0.766000,27.800000,55.600000,0.672000,NaN,0.766000,27.800000,100.000000,0.672000

In [7]:
advanced_df.drop(advanced_df.columns[[0]], axis=1, inplace=True)

In [8]:
advanced_df.rename(columns={advanced_df.columns[2]:'Home'}, inplace=True)

In [9]:
advanced_df.rename(columns={'eFG%.1_A':'D-eFG%_A', 'TOV%.1_A':'D-TOV%_A', 'FT/FGA.1_A':'D-FT/FGA_A',\
                  'Tm_A':'PTS_A', 'Opp.1_A':'OppPTS', 'W/L_A':'A_Win', 'eFG%.1_B': 'D-eFG%_B',\
                        'TOV%.1_B': 'D-TOV%_B', 'FT/FGA.1_B':'D-FT/FGA_B'}, inplace=True)

In [10]:
advanced_df.head()

,G_A,Date,Home,Opp_A,A_Win,PTS_A,OppPTS,FG_A,FGA_A,FG%_A,3P_A,3PA_A,3P%_A,FT_A,FTA_A,FT%_A,ORB_A,TRB_A,AST_A,STL_A,BLK_A,TOV_A,PF_A,ORtg_A,DRtg_A,Pace_A,FTr_A,3PAr_A,TS%_A,TRB%_A,AST%_A,STL%_A,BLK%_A,.1_A,eFG%_A,TOV%_A,ORB%_A,FT/FGA_A,.2_A,D-eFG%_A,D-TOV%_A,DRB%_A,D-FT/FGA_A,Team_A,Season,Unnamed: 0_B,G_B,_B,Opp_B,W/L_B,Tm_B,Opp.1_B,FG_B,FGA_B,FG%_B,3P_B,3PA_B,3P%_B,FT_B,FTA_B,FT%_B,ORB_B,TRB_B,AST_B,STL_B,BLK_B,TOV_B,PF_B,ORtg_B,DRtg_B,Pace_B,FTr_B,3PAr_B,TS%_B,TRB%_B,AST%_B,STL%_B,BLK%_B,.1_B,eFG%_B,TOV%_B,ORB%_B,FT/FGA_B,.2_B,D-eFG%_B,D-TOV%_B,DRB%_B,D-FT/FGA_B,Team_B
0,1.0,2009-10-28,NaN,IND,W,120.0,109.0,46.0,87.0,0.529,7.0,12.0,0.583,21.0,29.0,0.724,8.0,35.0,30.0,16.0,6.0,10.0,25.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,NaN,0.569,9.1,19.0,0.241,NaN,0.603,22.9,81.8,0.288,ATL,2010,0.0,1.0,@,ATL,L,109.0,120.0,39.0,73.0,0.534,10.0,18.0,0.556,21.0,25.0,0.840,6.0,40.0,23.0,1.0,4.0,25.0,26.0,108.1,119.0,100.8,0.342,0.247,0.649,53.3,59.0,1.0,5.3,NaN,0.603,22.9,18.2,0.288,NaN,0.569,9.1,81.0,0.241,IND
1,2.0,2009-10-30,NaN,WAS,W,100.0,89.0,32.0,78.0,0.410,5.0,20.0,0.250,31.0,34.0,0.912,11.0,47.0,18.0,5.0,7.0,12.0,24.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,NaN,0.442,11.4,25.6,0.397,NaN,0.475,13.6,81.8,0.177,ATL,2010,1.0,2.0,@,ATL,L,89.0,100.0,35.0,79.0,0.443,5.0,13.0,0.385,14.0,22.0,0.636,8.0,40.0,19.0,5.0,5.0,14.0,23.0,96.6,108.5,92.1,0.278,0.165,0.502,46.0,54.3,5.4,8.6,NaN,0.475,13.6,18.2,0.177,NaN,0.442,11.4,74.4,0.397,WAS
2,3.0,2009-11-01,@,LAL,L,110.0,118.0,40.0,89.0,0.449,7.0,23.0,0.304,23.0,26.0,0.885,14.0,40.0,21.0,8.0,3.0,19.0,21.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,NaN,0.489,15.9,31.1,0.258,NaN,0.557,13.3,70.3,0.241,ATL,2010,2.0,3.0,NaN,ATL,W,118.0,110.0,46.0,87.0,0.529,5.0,15.0,0.333,21.0,25.0,0.840,11.0,42.0,26.0,14.0,6.0,15.0,20.0,117.4,109.4,100.5,0.287,0.172,0.602,51.2,56.5,13.9,9.1,NaN,0.557,13.3,29.7,0.241,NaN,0.489,15.9,68.9,0.258,LAL
3,4.0,2009-11-03,@,POR,W,97.0,91.0,37.0,80.0,0.463,5.0,15.0,0.333,18.0,22.0,0.818,11.0,46.0,21.0,4.0,7.0,11.0,15.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,NaN,0.494,10.9,29.7,0.225,NaN,0.459,8.0,77.8,0.153,ATL,2010,4.0,5.0,NaN,ATL,L,91.0,97.0,36.0,85.0,0.424,6.0,21.0,0.286,13.0,16.0,0.813,10.0,36.0,22.0,7.0,4.0,8.0,20.0,104.7,111.6,86.9,0.188,0.247,0.494,43.9,61.1,8.1,6.2,NaN,0.459,8.0,22.2,0.153,NaN,0.494,10.9,70.3,0.225,POR
4,5.0,2009-11-04,@,SAC,W,113.0,105.0,46.0,85.0,0.541,6.0,16.0,0.375,15.0,19.0,0.789,12.0,47.0,17.0,2.0,10.0,16.0,20.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,NaN,0.576,14.6,33.3,0.176,NaN,0.443,6.1,64.8,0.208,ATL,2010,4.0,5.0,NaN,ATL,L,105.0,113.0,40.0,96.0,0.417,5.0,15.0,0.333,20.0,27.0,0.741,19.0,43.0,18.0,11.0,2.0,7.0,19.0,112.1,120.6,93.7,0.281,0.156,0.487,47.8,45.0,11.7,2.9,NaN,0.443,6.1,35.2,0.208,NaN,0.576,14.6,66.7,0.176,SAC

In [11]:
advanced_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28756 entries, 0 to 28755
Data columns (total 89 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   G_A           26236 non-null  float64
 1   Date          26236 non-null  datetime64[ns]
 2   Home          13118 non-null  object
 3   Opp_A         26236 non-null  object
 4   A_Win         26236 non-null  object
 5   PTS_A         26236 non-null  float64
 6   OppPTS        26236 non-null  float64
 7   FG_A          26236 non-null  float64
 8   FGA_A         26236 non-null  float64
 9   FG%_A         26236 non-null  float64
 10  3P_A          26236 non-null  float64
 11  3PA_A         26236 non-null  float64
 12  3P%_A         26236 non-null  float64
 13  FT_A          26236 non-null  float64
 14  FTA_A         26236 non-null  float64
 15  FT%_A         26236 non-null  float64
 16  ORB_A         26236 non-null  float64
 17  TRB_A         26236 non-null  float64
 18  AST_A         26236 non-null  float64
 19  STL_A         26236 non-null  float64
 20  BLK_A         26236 non-null  float64
 21  TOV_A         26236 non-null  float64
 22  PF_A          26236 non-null  float64
 23  ORtg_A        26236 non-null  float64
 24  DRtg_A        26236 non-null  float64
 25  Pace_A        26236 non-null  float64
 26  FTr_A         26236 non-null  float64
 27  3PAr_A        26236 non-null  float64
 28  TS%_A         26236 non-null  float64
 29  TRB%_A        26236 non-null  float64
 30  AST%_A        26236 non-null  float64
 31  STL%_A        26236 non-null  float64
 32  BLK%_A        26236 non-null  float64
 33   .1_A         0 non-null      float64
 34  eFG%_A        26236 non-null  float64
 35  TOV%_A        26236 non-null  float64
 36  ORB%_A        26236 non-null  float64
 37  FT/FGA_A      26236 non-null  float64
 38   .2_A         0 non-null      float64
 39  D-eFG%_A      26236 non-null  float64
 40  D-TOV%_A      26236 non-null  float64
 41  DRB%_A        26236 non-null  float64
 42  D-FT/FGA_A    26236 non-null  float64
 43  Team_A        28756 non-null  object
 44  Season        28756 non-null  int64
 45  Unnamed: 0_B  26236 non-null  float64
 46  G_B           26236 non-null  float64
 47   _B           13118 non-null  object
 48  Opp_B         26236 non-null  object
 49  W/L_B         26236 non-null  object
 50  Tm_B          26236 non-null  float64
 51  Opp.1_B       26236 non-null  float64
 52  FG_B          26236 non-null  float64
 53  FGA_B         26236 non-null  float64
 54  FG%_B         26236 non-null  float64
 55  3P_B          26236 non-null  float64
 56  3PA_B         26236 non-null  float64
 57  3P%_B         26236 non-null  float64
 58  FT_B          26236 non-null  float64
 59  FTA_B         26236 non-null  float64
 60  FT%_B         26236 non-null  float64
 61  ORB_B         26236 non-null  float64
 62  TRB_B         26236 non-null  float64
 63  AST_B         26236 non-null  float64
 64  STL_B         26236 non-null  float64
 65  BLK_B         26236 non-null  float64
 66  TOV_B         26236 non-null  float64
 67  PF_B          26236 non-null  float64
 68  ORtg_B        26236 non-null  float64
 69  DRtg_B        26236 non-null  float64
 70  Pace_B        26236 non-null  float64
 71  FTr_B         26236 non-null  float64
 72  3PAr_B        26236 non-null  float64
 73  TS%_B         26236 non-null  float64
 74  TRB%_B        26236 non-null  float64
 75  AST%_B        26236 non-null  float64
 76  STL%_B        26236 non-null  float64
 77  BLK%_B        26236 non-null  float64
 78   .1_B         0 non-null      float64
 79  eFG%_B        26236 non-null  float64
 80  TOV%_B        26236 non-null  float64
 81  ORB%_B        26236 non-null  float64
 82  FT/FGA_B      26236 non-null  float64
 83   .2_B         0 non-null      float64
 84  D-eFG%_B      26236 non-null  float64
 85  D-TOV%_B      26236 non-null  float64
 86  DRB%_B        26236 non-null  float64
 87  D-FT/FGA_B    26236 non-null  float64
 88  Team_B        26236 non-null  object
dtypes: datetime64[ns](1), float64(79), int64(1), object(8)
memory usage: 19.7+ MB

In [12]:
advanced_df.drop(advanced_df.columns[[0, 3, 33, 38, 78, 83, 7, 8, 9, 10, \
                                11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,\
                               45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,\
                               58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
                               39, 40, 41, 42, 83, 84, 85, 86]], axis=1, inplace=True)

In [13]:
advanced_df.head()

,Date,Home,A_Win,PTS_A,OppPTS,ORtg_A,DRtg_A,Pace_A,FTr_A,3PAr_A,TS%_A,TRB%_A,AST%_A,STL%_A,BLK%_A,eFG%_A,TOV%_A,ORB%_A,FT/FGA_A,Team_A,Season,ORtg_B,DRtg_B,Pace_B,FTr_B,3PAr_B,TS%_B,TRB%_B,AST%_B,STL%_B,BLK%_B,eFG%_B,TOV%_B,ORB%_B,FT/FGA_B,D-FT/FGA_B,Team_B
0,2009-10-28,NaN,W,120.0,109.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,0.569,9.1,19.0,0.241,ATL,2010,108.1,119.0,100.8,0.342,0.247,0.649,53.3,59.0,1.0,5.3,0.603,22.9,18.2,0.288,0.241,IND
1,2009-10-30,NaN,W,100.0,89.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,0.442,11.4,25.6,0.397,ATL,2010,96.6,108.5,92.1,0.278,0.165,0.502,46.0,54.3,5.4,8.6,0.475,13.6,18.2,0.177,0.397,WAS
2,2009-11-01,@,L,110.0,118.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,0.489,15.9,31.1,0.258,ATL,2010,117.4,109.4,100.5,0.287,0.172,0.602,51.2,56.5,13.9,9.1,0.557,13.3,29.7,0.241,0.258,LAL
3,2009-11-03,@,W,97.0,91.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,0.494,10.9,29.7,0.225,ATL,2010,104.7,111.6,86.9,0.188,0.247,0.494,43.9,61.1,8.1,6.2,0.459,8.0,22.2,0.153,0.225,POR
4,2009-11-04,@,W,113.0,105.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,0.576,14.6,33.3,0.176,ATL,2010,112.1,120.6,93.7,0.281,0.156,0.487,47.8,45.0,11.7,2.9,0.443,6.1,35.2,0.208,0.176,SAC

In [14]:
advanced_df['Home'] = advanced_df['Home'].fillna(1)

In [15]:
advanced_df.replace(to_replace = '@', value = 0, inplace=True)

In [16]:
advanced_df.dropna(axis=0, inplace=True)

In [17]:
advanced_df.replace(to_replace={'A_Win':{'W':1, 'L':0}}, inplace = True)

In [18]:
advanced_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26236 entries, 0 to 28755
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        26236 non-null  datetime64[ns]
 1   Home        26236 non-null  int64
 2   A_Win       26236 non-null  int64
 3   PTS_A       26236 non-null  float64
 4   OppPTS      26236 non-null  float64
 5   ORtg_A      26236 non-null  float64
 6   DRtg_A      26236 non-null  float64
 7   Pace_A      26236 non-null  float64
 8   FTr_A       26236 non-null  float64
 9   3PAr_A      26236 non-null  float64
 10  TS%_A       26236 non-null  float64
 11  TRB%_A      26236 non-null  float64
 12  AST%_A      26236 non-null  float64
 13  STL%_A      26236 non-null  float64
 14  BLK%_A      26236 non-null  float64
 15  eFG%_A      26236 non-null  float64
 16  TOV%_A      26236 non-null  float64
 17  ORB%_A      26236 non-null  float64
 18  FT/FGA_A    26236 non-null  float64
 19  Team_A      26236 non-null  object
 20  Season      26236 non-null  int64
 21  ORtg_B      26236 non-null  float64
 22  DRtg_B      26236 non-null  float64
 23  Pace_B      26236 non-null  float64
 24  FTr_B       26236 non-null  float64
 25  3PAr_B      26236 non-null  float64
 26  TS%_B       26236 non-null  float64
 27  TRB%_B      26236 non-null  float64
 28  AST%_B      26236 non-null  float64
 29  STL%_B      26236 non-null  float64
 30  BLK%_B      26236 non-null  float64
 31  eFG%_B      26236 non-null  float64
 32  TOV%_B      26236 non-null  float64
 33  ORB%_B      26236 non-null  float64
 34  FT/FGA_B    26236 non-null  float64
 35  D-FT/FGA_B  26236 non-null  float64
 36  Team_B      26236 non-null  object
dtypes: datetime64[ns](1), float64(31), int64(3), object(2)
memory usage: 7.6+ MB

# Make the basic DF

In [19]:
basic_df = df.merge(df, left_on=['Opp', 'Season', 'Date'], right_on=['Team', 'Season', 'Date'], how='left',\
                   suffixes=('_A', '_B'))

In [21]:
basic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28756 entries, 0 to 28755
Data columns (total 90 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_A  28756 non-null  int64
 1   G_A           26236 non-null  float64
 2   Date          26236 non-null  datetime64[ns]
 3    _A           13118 non-null  object
 4   Opp_A         26236 non-null  object
 5   W/L_A         26236 non-null  object
 6   Tm_A          26236 non-null  float64
 7   Opp.1_A       26236 non-null  float64
 8   FG_A          26236 non-null  float64
 9   FGA_A         26236 non-null  float64
 10  FG%_A         26236 non-null  float64
 11  3P_A          26236 non-null  float64
 12  3PA_A         26236 non-null  float64
 13  3P%_A         26236 non-null  float64
 14  FT_A          26236 non-null  float64
 15  FTA_A         26236 non-null  float64
 16  FT%_A         26236 non-null  float64
 17  ORB_A         26236 non-null  float64
 18  TRB_A         26236 non-null  float64
 19  AST_A         26236 non-null  float64
 20  STL_A         26236 non-null  float64
 21  BLK_A         26236 non-null  float64
 22  TOV_A         26236 non-null  float64
 23  PF_A          26236 non-null  float64
 24  ORtg_A        26236 non-null  float64
 25  DRtg_A        26236 non-null  float64
 26  Pace_A        26236 non-null  float64
 27  FTr_A         26236 non-null  float64
 28  3PAr_A        26236 non-null  float64
 29  TS%_A         26236 non-null  float64
 30  TRB%_A        26236 non-null  float64
 31  AST%_A        26236 non-null  float64
 32  STL%_A        26236 non-null  float64
 33  BLK%_A        26236 non-null  float64
 34   .1_A         0 non-null      float64
 35  eFG%_A        26236 non-null  float64
 36  TOV%_A        26236 non-null  float64
 37  ORB%_A        26236 non-null  float64
 38  FT/FGA_A      26236 non-null  float64
 39   .2_A         0 non-null      float64
 40  eFG%.1_A      26236 non-null  float64
 41  TOV%.1_A      26236 non-null  float64
 42  DRB%_A        26236 non-null  float64
 43  FT/FGA.1_A    26236 non-null  float64
 44  Team_A        28756 non-null  object
 45  Season        28756 non-null  int64
 46  Unnamed: 0_B  26236 non-null  float64
 47  G_B           26236 non-null  float64
 48   _B           13118 non-null  object
 49  Opp_B         26236 non-null  object
 50  W/L_B         26236 non-null  object
 51  Tm_B          26236 non-null  float64
 52  Opp.1_B       26236 non-null  float64
 53  FG_B          26236 non-null  float64
 54  FGA_B         26236 non-null  float64
 55  FG%_B         26236 non-null  float64
 56  3P_B          26236 non-null  float64
 57  3PA_B         26236 non-null  float64
 58  3P%_B         26236 non-null  float64
 59  FT_B          26236 non-null  float64
 60  FTA_B         26236 non-null  float64
 61  FT%_B         26236 non-null  float64
 62  ORB_B         26236 non-null  float64
 63  TRB_B         26236 non-null  float64
 64  AST_B         26236 non-null  float64
 65  STL_B         26236 non-null  float64
 66  BLK_B         26236 non-null  float64
 67  TOV_B         26236 non-null  float64
 68  PF_B          26236 non-null  float64
 69  ORtg_B        26236 non-null  float64
 70  DRtg_B        26236 non-null  float64
 71  Pace_B        26236 non-null  float64
 72  FTr_B         26236 non-null  float64
 73  3PAr_B        26236 non-null  float64
 74  TS%_B         26236 non-null  float64
 75  TRB%_B        26236 non-null  float64
 76  AST%_B        26236 non-null  float64
 77  STL%_B        26236 non-null  float64
 78  BLK%_B        26236 non-null  float64
 79   .1_B         0 non-null      float64
 80  eFG%_B        26236 non-null  float64
 81  TOV%_B        26236 non-null  float64
 82  ORB%_B        26236 non-null  float64
 83  FT/FGA_B      26236 non-null  float64
 84   .2_B         0 non-null      float64
 85  eFG%.1_B      26236 non-null  float64
 86  TOV%.1_B      26236 non-null  float64
 87  DRB%_B        26236 non-null  float64
 88  FT/FGA.1_B    26236 non-null  float64
 89  Team_B        26236 non-null  object
dtypes: datetime64[ns](1), float64(79), int64(2), object(8)
memory usage: 20.0+ MB

In [23]:
basic_df.rename(columns={basic_df.columns[2]:'Home'}, inplace=True)

In [26]:
basic_df.drop(basic_df.columns[[0, 10, 13, 16, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,\
                               33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 46, 47, 48, 49,\
                               50, 55, 58, 61, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,\
                               78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88]], axis=1, inplace=True)

In [27]:
basic_df.head()

,G_A,Home,_A,Opp_A,W/L_A,Tm_A,Opp.1_A,FG_A,FGA_A,3P_A,3PA_A,FT_A,FTA_A,ORB_A,TRB_A,AST_A,STL_A,BLK_A,Team_A,Season,Tm_B,Opp.1_B,FG_B,FGA_B,3P_B,3PA_B,FT_B,FTA_B,ORB_B,TRB_B,AST_B,STL_B,BLK_B,Team_B
0,1.0,2009-10-28,NaN,IND,W,120.0,109.0,46.0,87.0,7.0,12.0,21.0,29.0,8.0,35.0,30.0,16.0,6.0,ATL,2010,109.0,120.0,39.0,73.0,10.0,18.0,21.0,25.0,6.0,40.0,23.0,1.0,4.0,IND
1,2.0,2009-10-30,NaN,WAS,W,100.0,89.0,32.0,78.0,5.0,20.0,31.0,34.0,11.0,47.0,18.0,5.0,7.0,ATL,2010,89.0,100.0,35.0,79.0,5.0,13.0,14.0,22.0,8.0,40.0,19.0,5.0,5.0,WAS
2,3.0,2009-11-01,@,LAL,L,110.0,118.0,40.0,89.0,7.0,23.0,23.0,26.0,14.0,40.0,21.0,8.0,3.0,ATL,2010,118.0,110.0,46.0,87.0,5.0,15.0,21.0,25.0,11.0,42.0,26.0,14.0,6.0,LAL
3,4.0,2009-11-03,@,POR,W,97.0,91.0,37.0,80.0,5.0,15.0,18.0,22.0,11.0,46.0,21.0,4.0,7.0,ATL,2010,91.0,97.0,36.0,85.0,6.0,21.0,13.0,16.0,10.0,36.0,22.0,7.0,4.0,POR
4,5.0,2009-11-04,@,SAC,W,113.0,105.0,46.0,85.0,6.0,16.0,15.0,19.0,12.0,47.0,17.0,2.0,10.0,ATL,2010,105.0,113.0,40.0,96.0,5.0,15.0,20.0,27.0,19.0,43.0,18.0,11.0,2.0,SAC